In [3]:
import pandas as pd

df = pd.read_csv("raw_dataset.csv")
df.head()

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [7]:
df.columns

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [4]:
## Features of Columns
dir(df.columns)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_coerce_to_ndarray',
 '_comparables',
 '_concat',
 '_concat_same_dtype',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_evaluate_with_datetime_like',
 '_evaluate_with_timedelta_like',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_unique_index',
 '_has_complex_internals',
 '_id',
 '_infer_as_myclass',
 '_inner_indexer',
 '_internal_get_values',
 '_invalid_indexer',
 '_is_compatible_with_other',
 '_is_homogeneous_type',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_maybe_update_attributes',
 '_mpl_repr',
 '_na_value',
 '_nan_idxs',
 '_ndarray_values',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_shallow_copy_with_infer',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_to_safe_for_reshape',
 '_try_convert_to_int_index',
 '_typ',
 '_union',
 '_union_incompatible_dtypes',
 '_unpickle_compat',
 '_update_inplace',
 '_validate_for_numeric_binop',
 '_validate_for_numeric_unaryop',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_sort_keyword',
 '_values',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'contains',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_duplicates',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'get_values',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_lexsorted_for_tuple',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'summary',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [8]:
df.columns.values

# columns get array of values

array(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'], dtype=object)

In [9]:
# get list

df.columns.tolist()

['First Name',
 'Last name',
 'Age',
 'SALARY',
 'STREET Address1',
 'STREET Address2',
 'STREET Address3',
 'email']

In [10]:
### To View Columns Names
df.columns.view()

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [11]:
### To View Columns summary
df.columns.summary()

C:\Users\ASUS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'summary' is deprecated and will be removed in a future version.

'Index: 8 entries, First Name to email'

In [12]:
# Convert the Column Names To Series/ DataFrame
df.columns.to_series()

First Name              First Name
Last name                Last name
Age                            Age
SALARY                      SALARY
STREET Address1    STREET Address1
STREET Address2    STREET Address2
STREET Address3    STREET Address3
email                        email
dtype: object

In [13]:
# Convert the Column Names To DataFrame
df.columns.to_frame()

                               0
First Name            First Name
Last name              Last name
Age                          Age
SALARY                    SALARY
STREET Address1  STREET Address1
STREET Address2  STREET Address2
STREET Address3  STREET Address3
email                      email

In [14]:
# Check to see if column names contains
df.columns.contains('First Name')

C:\Users\ASUS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'

True

In [15]:
df.columns.duplicated()

array([False, False, False, False, False, False, False, False])

In [16]:
### Making Column Name Title Case
df.columns.str.title()

Index(['First Name', 'Last Name', 'Age', 'Salary', 'Street Address1',
       'Street Address2', 'Street Address3', 'Email'],
      dtype='object')

In [18]:
### Replacing Empty spaces with underscore
df.columns.str.replace(' ','_')

Index(['First_Name', 'Last_name', 'Age', 'SALARY', 'STREET_Address1',
       'STREET_Address2', 'STREET_Address3', 'email'],
      dtype='object')

In [20]:
### Renaming Column Name
df.rename(columns={'Age':'Date of Birth'},inplace=True)

In [21]:
df.columns

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [22]:
len(df.columns.values)

8

In [23]:
df.columns.values[4]

'STREET Address1'

In [24]:
df.columns.values[-1]

'email'

In [25]:
### Selecting All Columns Except One
df.columns[df.columns != 'SALARY']

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [28]:
### Selecting All Columns Except One
df.columns.difference(['SALARY'])

Index(['Date of Birth', 'First Name', 'Last name', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [27]:
### Selecting All Columns Except One
df.iloc[:,df.columns != 'SALARY'].columns

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [29]:
### Select Column Names that Begins with a Word or Character
df.filter(like='STREET')

,STREET Address1,STREET Address2,STREET Address3
0,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street"
1,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.
2,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.
3,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave
4,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd."
...,...,...,...
95,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd."
96,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.
97,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.
98,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street
99,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.

In [31]:
### Select Column Names that Begins with a Word or Character
df.filter(like='STREET').columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [33]:
### Select Column Names that Begins with a Word or Character
df.loc[:,df.columns.str.startswith('STREET')].columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [34]:
### Select Column Names that Begins with a Word or Character
df.loc[:,df.columns.str.endswith('ame')].columns

Index(['First Name', 'Last name'], dtype='object')

In [38]:
df.filter(regex='ame$',axis=1).columns

Index(['First Name', 'Last name'], dtype='object')

In [39]:
### Select A Group of Column Names
df.columns[0:4]

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY'], dtype='object')